In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import linear_model

In [2]:
df=pd.read_csv("house.csv")
print(df)

   area  baderoom  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [ ]:
#HANDELING NULL VALUES
#putting mean,median 
#putting 0

In [4]:
import math

m=df.baderoom.median()
print(m)

4.0

In [5]:
#filling with median
df.baderoom=df.baderoom.fillna(m)
print(df)

   area  baderoom  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       4.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [6]:
print(df)

   area  baderoom  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       4.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [17]:
#spliting trining and testing data set
x=df[["area","baderoom","age"]]
y=df["price"]

In [15]:
x

   area  baderoom  age
0  2600       3.0   20
1  3000       4.0   15
2  3200       4.0   18
3  3600       3.0   30
4  4000       5.0    8
5  4100       6.0    8

In [18]:
y

0    550000
1    565000
2    610000
3    595000
4    760000
5    810000
Name: price, dtype: int64

In [20]:
from sklearn.model_selection import train_test_split

In [21]:
x_train,x_test,y_train,y_test= train_test_split(x,y,test_size=0.2)

In [24]:
x_train

(   area  baderoom  age
 0  2600       3.0   20
 5  4100       6.0    8
 2  3200       4.0   18
 3  3600       3.0   30,
    area  baderoom  age
 4  4000       5.0    8
 1  3000       4.0   15)

In [25]:
x_test

   area  baderoom  age
4  4000       5.0    8
1  3000       4.0   15

In [26]:
y_train

0    550000
5    810000
2    610000
3    595000
Name: price, dtype: int64

In [27]:
y_test

4    760000
1    565000
Name: price, dtype: int64

In [28]:
#training model
model = linear_model.LinearRegression()
model.fit(x_train,y_train)

LinearRegression()

In [30]:
#prediction
model.predict(x_test)

array([990666.66666667, 632166.66666667])

In [31]:
model.score(x_test,y_test)

-2.0358170794068293